<VirtualHost *:80>
        ServerName wiki.uriuxlabs.com
        DocumentRoot /var/www/acme-challenge

        RewriteEngine On
        RewriteCond %{HTTPS} off [NC]
        RewriteCond %{REQUEST_URI} !^/.well-known [NC]
        RewriteRule ^(.*)$ https://%{HTTP_HOST}$1 [R=302,L]

        ErrorLog ${APACHE_LOG_DIR}/error.log
        CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>

<VirtualHost *:443>
        ServerName wiki.uriuxlabs.com
        DocumentRoot /var/www/html

        RewriteEngine on
        RewriteRule "^/$" "/docs/" [R=302]
        RewriteRule "^/index\.html$" "/docs/index.html" [R=302]

        SSLEngine on
        SSLCertificateFile /etc/lecerts/wiki.uriuxlabs.com.crt
        SSLCertificateKeyFile /etc/lecerts/wiki.uriuxlabs.com.key
        SSLCertificateChainFile /etc/lecerts/wiki.uriuxlabs.com-intermediate.crt

        Protocols h2 http/1.1
        Header always set Strict-Transport-Security "max-age=63072000"

        OIDCProviderMetadataURL {{ oidc_providermetadataurl }}
        OIDCProviderJwksUri {{ oidc_providerjwksuri }}

        OIDCClientID {{ oidc_clientid }}
        OIDCClientSecret {{ oidc_clientsecret }}

        OIDCRedirectURI {{ oidc_redirecturi }}
        OIDCCryptoPassphrase {{ oidc_cryptopassphrase }}

        <Location />
                AuthType openid-connect
                Require valid-user
        </Location>

        ErrorLog ${APACHE_LOG_DIR}/error.log
        CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>

SSLProtocol all -SSLv3 -TLSv1 -TLSv1.1
SSLCipherSuite ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384
SSLHonorCipherOrder off
SSLSessionTickets off

SSLUseStapling On
SSLStaplingCache "shmcb:logs/ssl_stapling(32768)"

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet
